h1 {
color: blue;
}

.box {
 animation: spinnin 2s linear infinite normal; 
 background-color: wheat;
 width: 20px;
 height: 20px;
}

@keyframes spinnin {
 0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}
