h1 {
color: blue;
}

.box {
 animation: spinnin 4s linear infinite initial; 
 width: 20px;
 height: 20px;
}

@keyframes spinnin {
 0% {
  transform: rotate(0deg);
  background-color: wheat;
  }
 50% {
  transform: rotate(360deg);
  background-color: orange;
 }
 100% {
  transform: rotate(0deg);
  background-color: wheat;
  }
}
